endpoints:
  fedora-33-gnome:
    path: /fedora-assets/releases/download/REPLACE_RELEASE_NAME/
    files:
    - vmlinuz
    - initrd
    - squashfs.img
    os: fedora
    version: 33
    flavor: GNOME
